<footer class="footer-wrapper">
  <!-- <div class="footer-container container">
    <div class="footer-column three columns" id="footer-widget-1">
      <div id="text-5" class="widget widget_text greennature-item greennature-widget">
        <div class="textwidget">
          <p><img src="/assets/images/logo-light.png" style="width: 170px;" alt="" /></p>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus,
            porta. Etiam porta sem malesuada magna mollis euismod.</p>
        </div>
      </div>
    </div>
    <div class="footer-column three columns" id="footer-widget-2">
      <div id="text-9" class="widget widget_text greennature-item greennature-widget">
        <h3 class="greennature-widget-title">Contact Info</h3>
        <div class="clear"></div>
        <div class="textwidget"><span class="clear"></span><span class="greennature-space"
            style="margin-top: -6px; display: block;"></span>
          Address: 184 Main Collins Street West Victoria 8007

          <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>

          <i class="greennature-icon fa fa-phone" style="vertical-align: middle; color: #fff; font-size: 16px; "></i>
          +1800-222-3333

          <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>

          <i class="greennature-icon fa fa-mobile" style="vertical-align: middle; color: #fff; font-size: 20px; "></i>
          +1833-232-3443

          <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>

          <i class="greennature-icon fa fa-envelope-o"
            style="vertical-align: middle; color: #fff; font-size: 16px; "></i> contact@greennaturewp.com</div>
      </div>
    </div>
    <div class="footer-column three columns" id="footer-widget-3">
      <div id="gdlr-recent-post-widget-5"
        class="widget widget_gdlr-recent-post-widget greennature-item greennature-widget">
        <h3 class="greennature-widget-title">Recent Posts</h3>
        <div class="clear"></div>
        <div class="greennature-recent-post-widget">
          <div class="recent-post-widget">
            <div class="recent-post-widget-thumbnail"><a
                href="https://demo.goodlayers.com/greennature/2014/03/21/sem-porta-mollis-parturient/"><img
                  src="/assets/images/shutterstock_294481373-150x150.jpg" alt="" width="150" height="150" /></a>
            </div>
            <div class="recent-post-widget-content">
              <div class="recent-post-widget-title"><a
                  href="https://demo.goodlayers.com/greennature/2014/03/21/sem-porta-mollis-parturient/">Sem Porta
                  Mollis Parturi</a></div>
              <div class="recent-post-widget-info">
                <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a
                    href="https://demo.goodlayers.com/greennature/2014/03/21/">21 Mar 2014</a></div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="recent-post-widget">
            <div class="recent-post-widget-thumbnail"><a
                href="https://demo.goodlayers.com/greennature/2014/03/21/nullam-lorem-mattis-purus/"><img
                  src="/assets/images/shutterstock_181393724-150x150.jpg" alt="" width="150" height="150" /></a>
            </div>
            <div class="recent-post-widget-content">
              <div class="recent-post-widget-title"><a
                  href="https://demo.goodlayers.com/greennature/2014/03/21/nullam-lorem-mattis-purus/">Nullam Lorem
                  Mattis Purus</a></div>
              <div class="recent-post-widget-info">
                <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a
                    href="https://demo.goodlayers.com/greennature/2014/03/21/">21 Mar 2014</a></div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="footer-column three columns" id="footer-widget-4">
      <div id="gdlr-recent-portfolio2-widget-6"
        class="widget widget_gdlr-recent-portfolio2-widget greennature-item greennature-widget">
        <h3 class="greennature-widget-title">Recent Works</h3>
        <div class="clear"></div>
        <div class="greennature-recent-port2-widget">
          <div class="recent-port-widget-thumbnail"><a
              href="https://demo.goodlayers.com/greennature/portfolio/wind-energy/"><img
                src="/assets/images/shutterstock_161515241-150x150.jpg" alt="" width="150" height="150" /></a></div>
          <div class="recent-port-widget-thumbnail"><a
              href="https://demo.goodlayers.com/greennature/portfolio/elephant-sanctuary/"><img
                src="/assets/images/shutterstock_133689230-150x150.jpg" alt="" width="150" height="150" /></a></div>
          <div class="recent-port-widget-thumbnail"><a
              href="https://demo.goodlayers.com/greennature/portfolio/conservation-volunteering/"><img
                src="/assets/images/shutterstock_53600221-150x150.jpg" alt="" width="150" height="150" /></a></div>
          <div class="recent-port-widget-thumbnail"><a
              href="https://demo.goodlayers.com/greennature/portfolio/engery-conservation/"><img
                src="/assets/images/shutterstock_124871620-150x150.jpg" alt="" width="150" height="150" /></a></div>
          <div class="recent-port-widget-thumbnail"><a
              href="https://demo.goodlayers.com/greennature/portfolio/video-inside-this-post/"><img
                src="/assets/images/shutterstock_281995004-150x150.jpg" alt="" width="150" height="150" /></a></div>
          <div class="recent-port-widget-thumbnail"><a
              href="https://demo.goodlayers.com/greennature/portfolio/kids-can-volunteer/"><img
                src="/assets/images/shutterstock_256181956-150x150.jpg" alt="" width="150" height="150" /></a></div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div> -->

  <div class="copyright-wrapper">
    <div class="copyright-container container">
      <!-- <div class="copyright-left">
        <a href="http://facebook.com/goodlayers"><i class="greennature-icon fa fa-facebook"
            style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a> <a
          href="http://twitter.com/goodlayers"><i class="greennature-icon fa fa-twitter"
            style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a> <a href="#"><i
            class="greennature-icon fa fa-dribbble"
            style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a> <a href="#"><i
            class="greennature-icon fa fa-pinterest"
            style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a> <a href="#"><i
            class="greennature-icon fa fa-google-plus"
            style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a> <a href="#"><i
            class="greennature-icon fa fa-instagram"
            style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a>
      </div> -->
      <div class="copyright-right">
        Copyright {{ 'now' | date: "%Y" }} Resilience Rangers, All Right Reserved </div>
      <div class="clear"></div>
    </div>
  </div>
</footer>

<div class="greennature-payment-lightbox-overlay" id="greennature-payment-lightbox-overlay"></div>
<div class="greennature-payment-lightbox-container" id="greennature-payment-lightbox-container">
  <div class="greennature-payment-lightbox-inner">
    <form class="greennature-payment-form" id="greennature-payment-form"
      data-ajax="https://demo.goodlayers.com/greennature/wp-admin/admin-ajax.php">
      <h3 class="greennature-payment-lightbox-title">
        <span class="greennature-head">You are donating to :</span>
        <span class="greennature-tail">Greennature Foundation</span>
      </h3>

      <div class="greennature-payment-amount">
        <div class="greennature-payment-amount-head">How much would you like to donate?</div>
        <a class="greennature-payment-price-preset greennature-active" data-val="10">$10</a>
        <a class="greennature-payment-price-preset" data-val="20">$20</a>
        <a class="greennature-payment-price-preset" data-val="30">$30</a>
        <input class="greennature-payment-price-fill" type="text" placeholder="Or Your Amount(USD)" />
        <input class="greennature-payment-price" type="hidden" name="amount" value="10" />

        <input class="greennature-payment-price" type="hidden" name="a3" value="10">
      </div>

      <div class="greennature-paypal-attribute">
        <span class="greennature-head">Would you like to make regular donations?</span>
        <span class="greennature-subhead">I would like to make </span>
        <select name="t3" class="greennature-recurring-option">
          <option value="0">one time</option>
          <option value="W">weekly</option>
          <option value="M">monthly</option>
          <option value="Y">yearly</option>
        </select>
        <span class="greennature-subhead">donation(s)</span>
        <input type="hidden" name="p3" value="1" />
        <div class="greennature-recurring-time-wrapper">
          <span class="greennature-subhead">How many times would you like this to recur? (including this payment)
            *</span>
          <select name="srt" class="greennature-recurring-option">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </div>
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="bn" value="PP-BuyNowBF">
        <input type="hidden" name="src" value="1">
        <input type="hidden" name="sra" value="1">
      </div>

      <div class="greennature-form-fields">
        <div class="six columns">
          <div class="columns-wrap greennature-left">
            <span class="greennature-head">Name *</span>
            <input class="greennature-require" type="text" name="name">
          </div>
        </div>
        <div class="six columns">
          <div class="columns-wrap greennature-right">
            <span class="greennature-head">Last Name *</span>
            <input class="greennature-require" type="text" name="last-name">
          </div>
        </div>
        <div class="clear"></div>
        <div class="six columns">
          <div class="columns-wrap greennature-left">
            <span class="greennature-head">Email *</span>
            <input class="greennature-require greennature-email" type="text" name="email">
          </div>
        </div>
        <div class="six columns">
          <div class="columns-wrap greennature-right">
            <span class="greennature-head">Phone</span>
            <input type="text" name="phone">
          </div>
        </div>
        <div class="clear"></div>
        <div class="six columns">
          <div class="columns-wrap greennature-left">
            <span class="greennature-head">Address</span>
            <textarea name="address"></textarea>
          </div>
        </div>
        <div class="six columns">
          <div class="columns-wrap greennature-right">
            <span class="greennature-head">Additional Note</span>
            <textarea name="additional-note"></textarea>
          </div>
        </div>
        <div class="clear"></div>
      </div>

      <div class="greennature-payment-method">
        <img class="greennature-active" src="/assets/images/paypal.png" alt="paypal" /><img
          src="/assets/images/stripe.png" alt="stripe" /><input type="hidden" name="payment-method" value="paypal" />
      </div>
      <div class="greennature-message"></div>
      <div class="greennature-loading">Loading...</div>
      <input type="submit" value="Donate Now" />
    </form>
  </div>
</div>
</div> <!-- body-wrapper -->
<script type='text/javascript' src='/assets/js/superfish.js'></script>
<script type='text/javascript' src='/assets/js/hoverIntent.min.js'></script>
<script type='text/javascript' src='/assets/js/modernizr.custom.js'></script>
<script type='text/javascript' src='/assets/js/jquery.dlmenu.js'></script>
<script type='text/javascript' src='/assets/js/jquery.easing.js'></script>
<script type='text/javascript' src='/assets/js/jquery.fancybox.pack.js'></script>
<script type='text/javascript' src='/assets/js/jquery.fancybox-media.js'></script>
<script type='text/javascript' src='/assets/js/jquery.fancybox-thumbs.js'></script>
<script type='text/javascript' src='/assets/js/jquery.isotope.min.js'></script>
<script type='text/javascript' src='/assets/js/gdlr-script.js'></script>
<script type='text/javascript' src='/assets/js/wp-embed.min.js'></script>
<script type='text/javascript' src='/assets/js/masterslider.min.js'></script>
<script type='text/javascript' src='/assets/js/jquery.prettyPhoto.min.js'></script>
<script type='text/javascript' src='/assets/js/jquery.transit.min.js'></script>
<script type='text/javascript' src='/assets/js//gdlr-portfolio-script.js'></script>