<div class="greennature-master-slider-item greennature-slider-item greennature-item" style="margin-bottom: 0px;">
  <!-- MasterSlider -->
  <div id="P_MS5d41040c6fd81" class="master-slider-parent ms-parent-id-1">

    <!-- MasterSlider Main -->
    <div id="MS5d41040c6fd81" class="master-slider ms-skin-default">

      <div class="ms-slide" data-delay="7" data-fill-mode="fill">
        <img src="/assets/images/blank.gif" alt="" title="" data-src="/assets/images/slider-1.jpg" />

        <a href="/about" target="_self" class="ms-layer ms-btn ms-btn-round ms-btn-n msp-preset-btn-159"
          data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="400" data-delay="987"
          data-ease="easeOutQuint" data-type="button" data-offset-x="1" data-offset-y="208" data-origin="ml"
          data-position="normal" style="text-align: center;">
          Learn More</a>

        <div class="ms-layer  msp-cn-1-3" style="" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)"
          data-duration="437" data-delay="625" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="105"
          data-origin="ml" data-position="normal">
          Changing World</div>

        <div class="ms-layer  msp-cn-1-2" style="" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)"
          data-duration="425" data-delay="325" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-5"
          data-origin="ml" data-position="normal">
          for a</div>

        <div class="ms-layer  msp-cn-1-1" style="" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)"
          data-duration="350" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-100" data-origin="ml"
          data-position="normal">
          Scouting Redesigned</div>


      </div>
      <div class="ms-slide" data-delay="7" data-fill-mode="fill">
        <img src="/assets/images/blank.gif" alt="" title="" data-src="/assets/images/shutterstock_147266159.jpg" />

        <a href="/projects/" target="_self" class="ms-layer ms-btn ms-btn-round ms-btn-n msp-preset-btn-159"
          data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="400" data-delay="987"
          data-ease="easeOutQuint" data-type="button" data-offset-x="1" data-offset-y="227" data-origin="ml"
          data-position="normal">
          Learn More</a>

        <div class="ms-layer  msp-cn-1-9" style="" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)"
          data-duration="437" data-delay="625" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="139"
          data-origin="ml" data-position="normal">
          Grow Something Big</div>

        <!-- <div class="ms-layer  msp-cn-1-7" style="" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)"
                        data-duration="437" data-delay="625" data-ease="easeOutQuint" data-offset-x="383"
                        data-offset-y="139" data-origin="ml" data-position="normal">
                        als</div> -->

        <div class="ms-layer  msp-cn-1-5" style="" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)"
          data-duration="350" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="52" data-origin="ml"
          data-position="normal">
          Help Us</div>


      </div>
      <div class="ms-slide" data-delay="7" data-fill-mode="fill">
        <img src="/assets/images/blank.gif" alt="" title="" data-src="/assets/images/slider-3.jpg" />

        <div class="ms-layer  msp-cn-1-10" style="" data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)"
          data-duration="425" data-delay="425" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="82"
          data-origin="mc" data-position="normal">
          A Better Place</div>

        <div class="ms-layer  msp-cn-1-13" style="" data-effect="t(true,n,n,500,n,n,n,n,n,n,n,n,n,n,n)"
          data-duration="437" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-15" data-origin="mc"
          data-position="normal">
          Make This World</div>


      </div>

    </div>
    <!-- END MasterSlider Main -->


  </div>
  <!-- END MasterSlider -->

  <script>
    (window.MSReady = window.MSReady || []).push(function ($) {

      "use strict";
      var masterslider_fd81 = new MasterSlider();

      // slider controls
      masterslider_fd81.control('arrows', { autohide: true, overVideo: true });
      masterslider_fd81.control('bullets', { autohide: false, overVideo: true, dir: 'h', align: 'bottom', space: 6, margin: 25 });
      // slider setup
      masterslider_fd81.setup("MS5d41040c6fd81", {
        width: 1140,
        height: 800,
        minHeight: 0,
        space: 0,
        start: 1,
        grabCursor: false,
        swipe: true,
        mouse: false,
        keyboard: true,
        layout: "fullwidth",
        wheel: false,
        autoplay: false,
        instantStartLayers: false,
        mobileBGVideo: false,
        loop: true,
        shuffle: false,
        preload: 0,
        heightLimit: true,
        autoHeight: false,
        smoothHeight: true,
        endPause: false,
        overPause: true,
        fillMode: "fill",
        centerControls: true,
        startOnAppear: false,
        layersMode: "center",
        autofillTarget: "",
        hideLayers: false,
        fullscreenMargin: 0,
        speed: 20,
        dir: "h",
        parallaxMode: 'swipe',
        view: "basic"
      });


      $("head").append("<link rel='stylesheet' id='ms-fonts'  href='//fonts.googleapis.com/css?family=Lato:300,900' type='text/css' media='all' />");

      window.masterslider_instances = window.masterslider_instances || [];
      window.masterslider_instances.push(masterslider_fd81);
    });
  </script>

</div>
<div class="clear"></div>
<div class="clear"></div>
</div>