---
layout: default

# thing
---

<!-- Sidebar With Content Section-->
<div class="with-sidebar-wrapper">
  <section id="content-section-1">
    <div class="greennature-full-size-wrapper gdlr-show-all no-skin" style="padding-bottom: 0px;  background-color: #ffffff;">
      {%- include master_slider.html -%}
    </div>
    <div class="clear"></div>
  </section>
  <section id="content-section-2">
    <div class="greennature-color-wrapper  gdlr-show-all greennature-skin-brown-column-service"
      style="background-color: #2d2418;  border-top: 5px solid #3f3221; padding-top: 0px; padding-bottom: 0px; font-size: 0.8em" >
      <div class="container">
        <div class="four columns">
          <div class="greennature-ux column-service-ux">
            <div class="greennature-item greennature-column-service-item greennature-type-2"
              style="margin-bottom: 0px;">
              <div class="column-service-image"><img src="/assets/images/icon-service-1.png" alt="" width="80"
                  height="80" /></div>
              <div class="column-service-content-wrapper">
                <h3 class="column-service-title">Learn New Skills</h3>
                <div class="column-service-content greennature-skin-content">
                  <p>Check out our <a href="/badges" style="text-decoration: underline;">badges</a>, which provide a framework for gaining new skills and cooperating with one another. We focus on sustainability topics which are relevant for a changing world.</p>
                </div><a class="column-service-read-more" href="/badges">Learn More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="four columns">
          <div class="greennature-ux column-service-ux">
            <div class="greennature-item greennature-column-service-item greennature-type-2-bg"
              style="margin-bottom: 0px;background-color: #3f3221;">
              <div class="column-service-image"><img src="/assets/images/icon-service-2.png" alt="" width="80"
                  height="80" /></div>
              <div class="column-service-content-wrapper">
                <h3 class="column-service-title">Build Community Projects</h3>
                <div class="column-service-content greennature-skin-content">
                  <p>Resilience Rangers projects include greenhouses, gardens & growing spaces, regenerative agriculture and soil conservation projects, edible landscapes, rain gardens, swales, and ponds. Whatever your group decides.</p>
                </div><a class="column-service-read-more" href="/projects">Learn More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="four columns">
          <div class="greennature-ux column-service-ux">
            <div class="greennature-item greennature-column-service-item greennature-type-2"
              style="margin-bottom: 0px;">
              <div class="column-service-image"><img src="/assets/images/icon-service-3.png" alt="" width="80"
                  height="80" /></div>
              <div class="column-service-content-wrapper">
                <h3 class="column-service-title">Become Truly Resilient</h3>
                <div class="column-service-content greennature-skin-content">
                  <p>The challenges we face won't be addressed properly or in time by national governments. The future is that of local resilience movements. Start building the communities of tomorrow today.</p>
                </div><a class="column-service-read-more" href="/about">Learn More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </section>
  <!--<section id="content-section-3">
    <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all no-skin"
      id="greennature-parallax-wrapper-1" data-bgspeed="0.11"
      style="background-image: url('/assets/images/donation-bg.jpg'); padding-top: 90px; padding-bottom: 65px;  font-size: 0.8em ">
      <div class="container">
        <div class="six columns">
          <div class="greennature-item greennature-action-ads-item"
            style="background: url('/assets/images/donation-bg-1.jpg'); ">
            <h3 class="action-ads-title" style="color: #facc2e;">Make Donation</h3>
            <div class="action-ads-caption greennature-skin-info">Your money can cure this earth</div>
            <div class="action-ads-divider" style="background: #facc2e;"></div>
            <div class="action-ads-content">
              <p>We are a larhge froup of people who powered movement fighting for a green and peaceful future
                for your land, forest, ocenas, foods, climate and pass the green earth to our children. Each one
                of us can make small changes in our lives, but together we can change the world.</p>
              <a class="action-ads-button large greennature-button greennature-lb-payment" href="#"
                style="color: #6d5b1c;background-color: #fec428;">Donate Now</a>
            </div>
          </div>
        </div>
        <div class="six columns">
          <div class="greennature-item greennature-action-ads-item"
            style="background: url('/assets/images/donation-bg-2.jpg'); ">
            <h3 class="action-ads-title" style="color: #5dc269;">Stop Drilling, Need Action!</h3>
            <div class="action-ads-caption greennature-skin-info">Your voice does matter</div>
            <div class="action-ads-divider" style="background: #5dc269;"></div>
            <div class="action-ads-content">
              <p>The Obama administration just granted Shell&#8217;s final permit to drill in the Alaskan Arctic
                this summer despite overwhelming global public opposition and the obvious risks to Arctic
                communities, wildlife, and our climate. But this isn’t over. The President knows what’s at
                stake: his climate legacy.</p>
              <a class="action-ads-button large greennature-button" style="color: #ffffff;background-color: #5dc269;"
                href="https://demo.goodlayers.com/greennature/act-now/">Act Now!</a>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </section>
  <section id="content-section-4">
    <div class="greennature-color-wrapper  gdlr-show-all no-skin"
      style="background-color: #ffffff; padding-bottom: 25px;  font-size: 0.8em">
      <div class="container">
        <div class="greennature-item-title-wrapper greennature-item  greennature-left-divider greennature-medium ">
          <div class="greennature-item-title-container container">
            <div class="greennature-item-title-head">
              <h3 class="greennature-item-title greennature-skin-title greennature-skin-border"><img
                  src="/assets/images/icon-5.png" alt="" width="80" height="80" />Our Recent Projects</h3><a
                class="greennature-item-title-link"
                href="https://demo.goodlayers.com/greennature/portfolio-grid-3-columns-no-space/">More
                Projects</a>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="portfolio-item-wrapper type-classic-portfolio">
          <div class="portfolio-item-holder  greennature-portfolio-column-4">
            <div class="greennature-isotope" data-type="portfolio" data-layout="fitRows">
              <div class="clear"></div>
              <div class="three columns">
                <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                  <div class="greennature-ux greennature-classic-portfolio-ux">
                    <div class="portfolio-thumbnail greennature-image"><img
                        src="/assets/images/shutterstock_161515241-540x326.jpg" alt="" width="540" height="326" /><span
                        class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon"
                        href="/assets/images/shutterstock_161515241.jpg" data-rel="fancybox"><span
                          class="portfolio-icon"><i class="fa fa-search"></i></span></a>
                    </div>
                    <div class="portfolio-classic-content">
                      <h3 class="portfolio-title"><a
                          href="https://demo.goodlayers.com/greennature/portfolio/wind-energy/">Wind Energy</a>
                      </h3>
                      <div class="greennature-portfolio-info">
                        <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title">Tags
                          </span><a href="https://demo.goodlayers.com/greennature/portfolio_tag/environment/"
                            rel="tag">Environment</a><span class="sep">,</span> <a
                            href="https://demo.goodlayers.com/greennature/portfolio_tag/renewable-energy/"
                            rel="tag">Renewable Energy</a></div>
                        <div class="clear"></div>
                      </div>
                      <div class="portfolio-excerpt">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed
                        eiusmod tempor incidunt ut labore et dolore magna aliqua.... <div class="clear"></div><a
                          href="https://demo.goodlayers.com/greennature/portfolio/wind-energy/"
                          class="excerpt-read-more">Read More</a></div><a class="portfolio-classic-learn-more"
                        href="https://demo.goodlayers.com/greennature/portfolio/wind-energy/">Learn More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="three columns">
                <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                  <div class="greennature-ux greennature-classic-portfolio-ux">
                    <div class="portfolio-thumbnail greennature-image"><img
                        src="/assets/images/shutterstock_133689230-540x326.jpg" alt="" width="540" height="326" /><span
                        class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon"
                        href="https://demo.goodlayers.com/greennature/portfolio/elephant-sanctuary/"><span
                          class="portfolio-icon"><i class="fa fa-link"></i></span></a></div>
                    <div class="portfolio-classic-content">
                      <h3 class="portfolio-title"><a
                          href="https://demo.goodlayers.com/greennature/portfolio/elephant-sanctuary/">Elephant
                          Sanctuary</a></h3>
                      <div class="greennature-portfolio-info">
                        <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title">Tags
                          </span><a href="https://demo.goodlayers.com/greennature/portfolio_tag/african/"
                            rel="tag">African</a><span class="sep">,</span> <a
                            href="https://demo.goodlayers.com/greennature/portfolio_tag/animals/" rel="tag">Animals</a>
                        </div>
                        <div class="clear"></div>
                      </div>
                      <div class="portfolio-excerpt">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed
                        eiusmod tempor incidunt ut labore et dolore magna aliqua.... <div class="clear"></div><a
                          href="https://demo.goodlayers.com/greennature/portfolio/elephant-sanctuary/"
                          class="excerpt-read-more">Read More</a></div><a class="portfolio-classic-learn-more"
                        href="https://demo.goodlayers.com/greennature/portfolio/elephant-sanctuary/">Learn
                        More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="three columns">
                <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                  <div class="greennature-ux greennature-classic-portfolio-ux">
                    <div class="portfolio-thumbnail greennature-image"><img
                        src="/assets/images/shutterstock_53600221-540x326.jpg" alt="" width="540" height="326" /><span
                        class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon"
                        href="https://vimeo.com/101707505" data-rel="fancybox" data-fancybox-type="iframe"><span
                          class="portfolio-icon"><i class="fa fa-film"></i></span></a></div>
                    <div class="portfolio-classic-content">
                      <h3 class="portfolio-title"><a
                          href="https://demo.goodlayers.com/greennature/portfolio/conservation-volunteering/">Conservation
                          Volunteer</a></h3>
                      <div class="greennature-portfolio-info">
                        <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title">Tags
                          </span><a href="https://demo.goodlayers.com/greennature/portfolio_tag/cleaning/"
                            rel="tag">Cleaning</a><span class="sep">,</span> <a
                            href="https://demo.goodlayers.com/greennature/portfolio_tag/volunteer/"
                            rel="tag">Volunteer</a></div>
                        <div class="clear"></div>
                      </div>
                      <div class="portfolio-excerpt">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed
                        eiusmod tempor incidunt ut labore et dolore magna aliqua.... <div class="clear"></div><a
                          href="https://demo.goodlayers.com/greennature/portfolio/conservation-volunteering/"
                          class="excerpt-read-more">Read More</a></div><a class="portfolio-classic-learn-more"
                        href="https://demo.goodlayers.com/greennature/portfolio/conservation-volunteering/">Learn
                        More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="three columns">
                <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                  <div class="greennature-ux greennature-classic-portfolio-ux">
                    <div class="portfolio-thumbnail greennature-image"><img
                        src="/assets/images/shutterstock_124871620-540x326.jpg" alt="" width="540" height="326" /><span
                        class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon"
                        href="https://demo.goodlayers.com/greennature/portfolio/engery-conservation/"><span
                          class="portfolio-icon"><i class="fa fa-link"></i></span></a></div>
                    <div class="portfolio-classic-content">
                      <h3 class="portfolio-title"><a
                          href="https://demo.goodlayers.com/greennature/portfolio/engery-conservation/">Engery
                          Conservation</a></h3>
                      <div class="greennature-portfolio-info">
                        <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title">Tags
                          </span><a href="https://demo.goodlayers.com/greennature/portfolio_tag/animals/"
                            rel="tag">Animals</a><span class="sep">,</span> <a
                            href="https://demo.goodlayers.com/greennature/portfolio_tag/volunteer/"
                            rel="tag">Volunteer</a></div>
                        <div class="clear"></div>
                      </div>
                      <div class="portfolio-excerpt">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed
                        eiusmod tempor incidunt ut labore et dolore magna aliqua.... <div class="clear"></div><a
                          href="https://demo.goodlayers.com/greennature/portfolio/engery-conservation/"
                          class="excerpt-read-more">Read More</a></div><a class="portfolio-classic-learn-more"
                        href="https://demo.goodlayers.com/greennature/portfolio/engery-conservation/">Learn
                        More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </section>
  <section id="content-section-5">
    <div class="greennature-color-wrapper  gdlr-show-all greennature-skin-service-half greennature-half-bg-wrapper"
      style="background-color: #f5f5f5; padding-bottom: 20px; ">
      <div class="greennature-half-bg greennature-bg-solid"
        style="background-image: url(/assets/images/shutterstock_133689230.jpg);">
      </div>
      <div class="container">
        <div class="six columns">
          <div class="greennature-item greennature-content-item"></div>
        </div>
        <div class="six columns">
          <div class="greennature-item greennature-icon-with-list-item">
            <div class="list-with-icon-ux greennature-ux">
              <div class="list-with-icon greennature-left">
                <div class="list-with-icon-image"><img src="/assets/images/icon-1.png" alt="" width="80" height="80" />
                </div>
                <div class="list-with-icon-content">
                  <div class="list-with-icon-title greennature-skin-title">Mollis Mattis</div>
                  <div class="list-with-icon-caption">
                    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere
                      consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam
                      quis risus eget urna mollis ornare vel eu leo.</p>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="list-with-icon-ux greennature-ux">
              <div class="list-with-icon greennature-left">
                <div class="list-with-icon-image"><img src="/assets/images/icon-2.png" alt="" width="80" height="80" />
                </div>
                <div class="list-with-icon-content">
                  <div class="list-with-icon-title greennature-skin-title">Ullamcorper Mattis Etiam</div>
                  <div class="list-with-icon-caption">
                    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere
                      consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam
                      quis risus eget urna mollis ornare vel eu leo.</p>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="list-with-icon-ux greennature-ux">
              <div class="list-with-icon greennature-left">
                <div class="list-with-icon-image"><img src="/assets/images/icon-3.png" alt="" width="80" height="80" />
                </div>
                <div class="list-with-icon-content">
                  <div class="list-with-icon-title greennature-skin-title">Mattis Etiam Justo</div>
                  <div class="list-with-icon-caption">
                    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere
                      consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam
                      quis risus eget urna mollis ornare vel eu leo.</p>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </section>
  <section id="content-section-7">
    <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-newsletter"
      id="greennature-parallax-wrapper-2" data-bgspeed="0"
      style="background-image: url('/assets/images/newsletter-bg.jpg'); padding-top: 145px; padding-bottom: 60px; ">
      <div class="container">
        <div class="greennature-title-item" style="margin-bottom: 45px;">
          <div class="greennature-item-title-wrapper greennature-item  greennature-center greennature-large ">
            <div class="greennature-item-title-container container">
              <div class="greennature-item-title-head">
                <h3 class="greennature-item-title greennature-skin-title greennature-skin-border">Subscribe for Updates</h3>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="greennature-subscribe-item greennature-item">
          <div class="greennature-newsletter-subscribe">


            <div class="newsletter newsletter-subscription">
              <form method="post" action="https://demo.goodlayers.com/greennature/?na=s"
                onsubmit="return newsletter_check(this)">
                <input class="newsletter-email" type="email" name="ne" size="30" required
                  placeholder="Please fill your email" />
                <input class="newsletter-submit greennature-button" type="submit" value="Subscribe!" />
                <input type="hidden" name="nr" value="widget" />
              </form>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </section>-->
  <!-- <section id="content-section-8">
            <div class="greennature-color-wrapper  gdlr-show-all greennature-skin-dark-skin"
              style="background-color: #1d1d1d; padding-bottom: 20px; ">
              <div class="container">
                <div class="one-fifth column"></div>
                <div class="three-fifth columns">
                  <div class="greennature-twitter-item-wrapper"><i class="fa fa-twitter"></i>
                    <div class="greennature-item greennature-twitter-item">
                      <div class="flexslider" data-type="carousel" data-nav-container="greennature-twitter-item">
                        <ul class="slides">
                          <li>
                            <div class="greennature-twitter"><span class="greennature-twitter-text"><a
                                  href="http://www.twitter.com/dondausi">@dondausi</a> Please make sure that you update
                                the theme to current version before using with wp5.x Please make sure thâ¦ <a
                                  target="_blank" href="https://t.co/EvIvTAlfHd">https://t.co/EvIvTAlfHd</a></span><a
                                class="greennature-twitter-time"
                                href="http://twitter.com/goodlayerstheme/statuses/1110183669077929984" target="_blank">
                                127 days ago</a></div>
                          </li>
                          <li>
                            <div class="greennature-twitter"><span class="greennature-twitter-text"><a
                                  href="http://www.twitter.com/ticksyapp">@ticksyapp</a> Any updates? We launched our
                                latest item for about 2 weeks now but still can't add as a new category in our Ticksy
                                site...</span><a class="greennature-twitter-time"
                                href="http://twitter.com/goodlayerstheme/statuses/1110033142184726528" target="_blank">
                                127 days ago</a></div>
                          </li>
                          <li>
                            <div class="greennature-twitter"><span class="greennature-twitter-text"><a
                                  href="http://www.twitter.com/ticksyapp">@ticksyapp</a> Any feedbacks? I can't even add
                                a new category at the moment. Customers are requesting to create tickets! :(</span><a
                                class="greennature-twitter-time"
                                href="http://twitter.com/goodlayerstheme/statuses/1109053017100189696" target="_blank">
                                130 days ago</a></div>
                          </li>
                          <li>
                            <div class="greennature-twitter"><span class="greennature-twitter-text"><a
                                  href="http://www.twitter.com/ticksyapp">@ticksyapp</a> Can you help checking my ticket
                                asap? I can't create a new category and agents are removed from some tickets too.
                                Thanks!</span><a class="greennature-twitter-time"
                                href="http://twitter.com/goodlayerstheme/statuses/1108780819097636864" target="_blank">
                                131 days ago</a></div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      class="greennature-item-title-nav greennature-nav-container  greennature-center greennature-large">
                      <i class="icon-angle-left greennature-flex-prev"></i><i
                        class="icon-angle-right greennature-flex-next"></i></div>
                  </div>
                </div>
                <div class="one-fifth column"></div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="clear"></div>
          </section> -->
  <!--<section id="content-section-9">
    <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin"
      id="greennature-parallax-wrapper-3" data-bgspeed="0.15"
      style="background-image: url('/assets/images/service-bg-2.jpg'); padding-top: 135px; padding-bottom: 80px; ">
      <div class="container">
        <div class="three columns">
          <div class="greennature-skill-item-wrapper greennature-skin-content greennature-item greennature-style-2"
            style="margin-bottom: 70px;"><img src="/assets/images/icon-4.png" alt="" width="80" height="80" />
            <div class="greennature-skill-item-title" style="color: #5dc269;">1,000,000</div>
            <div class="greennature-skill-item-caption" style="color: #ffffff;">Acres Conserved</div>
          </div>
        </div>
        <div class="three columns">
          <div class="greennature-skill-item-wrapper greennature-skin-content greennature-item greennature-style-2"
            style="margin-bottom: 70px;"><img src="/assets/images/icon-5.png" alt="" width="80" height="80" />
            <div class="greennature-skill-item-title" style="color: #5dc269;">700</div>
            <div class="greennature-skill-item-caption" style="color: #ffffff;">Scientists</div>
          </div>
        </div>
        <div class="three columns">
          <div class="greennature-skill-item-wrapper greennature-skin-content greennature-item greennature-style-2"
            style="margin-bottom: 70px;"><img src="/assets/images/icon-1.png" alt="" width="80" height="80" />
            <div class="greennature-skill-item-title" style="color: #5dc269;">99.99%</div>
            <div class="greennature-skill-item-caption" style="color: #ffffff;">Recycling</div>
          </div>
        </div>
        <div class="three columns">
          <div class="greennature-skill-item-wrapper greennature-skin-content greennature-item greennature-style-2"
            style="margin-bottom: 70px;"><img src="/assets/images/icon-2.png" alt="" width="80" height="80" />
            <div class="greennature-skill-item-title" style="color: #5dc269;">2000MW</div>
            <div class="greennature-skill-item-caption" style="color: #ffffff;">Solar Power</div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="greennature-item greennature-divider-item" style="margin-bottom: 60px;">
          <div class="greennature-divider thick"></div>
        </div>
        <div class="clear"></div>
        <div class="greennature-stunning-item-ux greennature-ux">
          <div class="greennature-item greennature-stunning-item greennature-stunning-center">
            <h2 class="stunning-item-title">The only way to make this happened is to take action!</h2>
            <div class="stunning-item-caption greennature-skin-content">
              <p>Praesent commodo cursus magna, vel scelerisque nislet.</p>
            </div><a class="stunning-item-button greennature-button large greennature-lb-payment" href="#"
              style="background-color: #ecb338; color: #ffffff;">Donate Now!</a><a
              class="stunning-item-button greennature-button large"
              href="https://demo.goodlayers.com/greennature/act-now/">Act Now!</a>
          </div>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </section>
  -->
</div>
<!-- Below Sidebar Section-->